#menu{
    width: 100vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 0.4rem;
}
.menuButton{
    text-align: center;
}
#menu h1{
    color: rgb(254, 171, 224);
    font-size: x-large;
    cursor: pointer;
    text-decoration: none;
}
#menu h1:hover{
    opacity: 50%;
    transition: 0.5s;
}
link, a{
    text-decoration: none;
}
