@import-normalize;

/***MOBILE VERSION ***/
@media (max-width: 1200px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */

  body{
    display: grid;
    grid-template-rows: 1fr;
    font-family: Calibri;
    justify-content: center;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  div, h1 {
    width: 100%;
    margin: 0;
  }

}